*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.navbar{
	padding: 0.4rem 1rem !important;
	font-size: 17px;
}

#logo{
	height: 40px;
}

/*About Page*/
.text-justify{
	font-size: 22px;
}

.img-fluid{
	border-radius: 1rem;
}

footer{
	position: fixed;
	left: 0;
	bottom: 0;
	padding: 10px;
	width: 100%;
	color: white;
	text-align: center;
	background-color: gray;
	letter-spacing: 2px;
}

.h3-mission{
	text-align: center;
	transform: translateY(50%);
}

p{
	margin-bottom: 0.7rem !important;
}

.card{
	border-radius: 1rem !important;
}

li a:hover{
	background: #fff;
	border-radius: 10px;
}

h3{
	font-size: 1.7rem !important;
}