*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.navbar{
	padding: 0.4rem 1rem !important;
	font-size: 17px;
}

#logo{
	height: 40px;
}

/*Contact*/
#contact{
	font-size: 20px;
	margin-left: 5%;
}

.fas{
	border-radius: 50%;
	padding: 7px 9px;
}

footer{
	position: fixed;
	left: 0;
	bottom: 0;
	padding: 10px;
	width: 100%;
	color: white;
	text-align: center;
	background-color: gray;
	letter-spacing: 2px;
}

#p-default-margin{
	margin-bottom: 0;
}

.btn{
	padding: 9px 40px !important;
}

li a:hover{
	background: #fff;
	border-radius: 10px;
}

.card{
	letter-spacing: 1px;
}