*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.navbar{
	padding: 0.4rem 1rem !important;
	font-size: 17px;
}

#logo{
	height: 40px;
}

footer{
	position: fixed;
	left: 0;
	bottom: 0;
	padding: 10px;
	width: 100%;
	color: white;
	text-align: center;
	background-color: gray;
	letter-spacing: 2px;
}

.rounded-pill{
	padding: 9px 70px;
}

li a:hover{
	background: #fff;
	border-radius: 10px;
}

h3{
	font-size: 1.7rem !important;
}