*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.navbar{
	padding: 0.4rem 1rem !important;
	font-size: 17px;
	font-family: 'Raleway', sans-serif;
}

#logo{
	height: 40px;
}

.container{
	margin: 0 auto 0 auto;
	width: 100%;
	min-height: 100vh;

	display: flex;
	align-items: center;
	justify-content: center;
}


#first-paragraph{
	font-size: 30px;
	margin-bottom: 0;
}

#second-paragraph{
	font-size: 22px;
}

.jumbotron{
	margin-bottom: 0 !important;
}

.btn{
	border-radius: 2rem !important;
}

li a:hover{
	background: #fff;
	border-radius: 10px;
}